<h1 md-dialog-title>Opmerkingen per onderdeel voor {{ selectedCandidate.firstname }} {{ selectedCandidate.lastname }}</h1>
<div md-dialog-content>
  <div fxLayout="row">
    <div fxLayout="column">
      <div class="exam-components">

        <div fxLayoutAlign="start center" class="component-title standard-padding">
          <h4 fxFlexOffset="2">{{ selectedCandidate.remark_component}}</h4>
        </div>
        <div class="remark standard-padding">
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div class="standard-padding">
              <b>Datum:</b> {{ selectedCandidate.remark_date }}
            </div>
            <div>
              <md-icon (click)="openConfirmationDialog()" class="clickable">delete</md-icon>
            </div>

          </div>
          <div class="standard-padding">
            <ng-container *ngIf="remarks">
              <b>Opmerkinggever:</b> {{ selectedCandidate.user_firstname }} {{ selectedCandidate.user_lastname }}
            </ng-container>
          </div>
          <div class="standard-padding">
            <b>Opmerking:</b> {{ selectedCandidate.remark }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div md-dialog-actions>
  </div>
  <div fxLayout="row" fxLayoutAlign="end center">
    <button md-button (click)="closeDialog()">Annuleren</button>
    <button md-raised-button color="primary">Opslaan</button>
  </div>
