<h1 md-dialog-title>Voeg een kandidaat toe</h1>
<div md-dialog-content></div>
<div md-dialog-actions>

  <div fxLayout="row" class="add-candidate">
    <div fxLayout="column">
      <div class="credential">Voornaam</div>
      <div class="credential">Achternaam</div>
      <div class="credential">Studentnummer</div>
      <div class="credential">Opleiding</div>
      <div class="credential">Crebo</div>
      <div class="credential">Cohort</div>
    </div>

    <div fxLayout="column">
      <div class="credential">:</div>
      <div class="credential">:</div>
      <div class="credential">:</div>
      <div class="credential">:</div>
      <div class="credential">:</div>
      <div class="credential">:</div>
    </div>

    <div fxLayout="column" fxFlexOffset="10" class="inputs">
      <div>
        <md-input-container class="input">
          <input mdInput placeholder="Voornaam" value="">
        </md-input-container>
      </div>
      <div>
        <md-input-container class="input">
          <input mdInput placeholder="Achternaam" value="">
        </md-input-container>
      </div>
      <div>
        <md-input-container class="input">
          <input mdInput placeholder="Studentnummer" value="">
        </md-input-container>
      </div>
      <div>
        <md-input-container class="input">
          <input mdInput placeholder="Opleiding" value="">
        </md-input-container>
      </div>
      <div>
        <md-input-container class="input">
          <input mdInput placeholder="Crebo" value="">
        </md-input-container>
      </div>
      <div>
        <md-select [(ngModel)]="selectedCohort">
          <md-option *ngFor="let cohort of cohorts" [value]="cohorts.value">
            {{ cohort.viewValue }}
          </md-option>
        </md-select>
        <!--<md-input-container class="input">
          <input mdInput placeholder="Cohort" value="">
        </md-input-container>-->
      </div>
    </div>

  </div>
</div>
<div fxLayout="row" fxLayoutAlign="end center">
  <button md-button>Annuleren</button>
  <button md-raised-button color="primary">Opslaan</button>
</div>