@import '../../../styles.scss';

.title {
    margin: 2rem;
}

.fab-button {
    position: absolute;
    z-index: 1000;
    top: 84px;
    right: 40px;
}

.menu-button {
    right: 3rem;
    position: absolute;
}

.user {
    position: absolute;
    right: 2.5rem;
    font-size: 1.25rem;
    margin-top: 1rem;
}
