<table id="table" class="table table-hover table-responsive-vertical">
    <thead>
        <tr>
            <th>Naam</th>
            <th>Studentnummer</th>
            <th>Opleiding</th>
            <th>Crebo</th>
            <th>Cohort</th>
            <th>WPT/HBE</th>
            <th>Datum aanvraag PVB</th>
            <th>Akkoord PVB</th>
            <th>PVB</th>
            <th>Datum OG</th>
            <th>OG</th>
            <th>Opmerkingen</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of candidates" class="candidate">
            <td data-title="Naam">{{ c.name }}</td>
            <td data-title="Studentnummer">{{ c.studentnumber }}</td>
            <td data-title="Opleiding">{{ c.education }}</td>
            <td data-title="Crebo">{{ c.crebo }}</td>
            <td data-title="Cohort">{{ c.cohort }}</td>
            <td data-title="WPT/HBE">1 t/m 7</td>
            <td data-title="Datum aanvraag PVB">10-05-2017</td>
            <td data-title="Akkoord PVB">
                <md-select placeholder="Akkoord PVB">
                    <md-option *ngFor="let p of pvb" [value]="pvb.value">
                        {{ p.viewValue }}
                    </md-option>
                </md-select>
            </td>
            <td data-title="PVB">1 t/m 4</td>
            <td data-title="Datum OG">20-05-2017</td>
            <td data-title="OG">
                <md-select placeholder="Ontwikkelgesprek">
                    <md-option *ngFor="let o of og" [value]="og.value">
                        {{ o.viewValue }}
                    </md-option>
                </md-select>
            </td>
            <td data-title="Opmerkingen"></td>
        </tr>
        <!-- New Candidate -->
        <tr class="new-candidate">
            <td data-title="Naam">
                <md-input-container>
                    <input mdInput placeholder="Naam" value="">
                </md-input-container>
            </td>
            <td data-title="Studentnummer">
                <md-input-container>
                    <input mdInput placeholder="Studentnummer" value="">
                </md-input-container>
            </td>
            <td data-title="Opleiding">
                <md-input-container>
                    <input mdInput placeholder="Opleiding" value="">
                </md-input-container>
            </td>
            <td data-title="Crebo">
                <md-input-container>
                    <input mdInput placeholder="Crebo" value="">
                </md-input-container>
            </td>
            <td data-title="Cohort">
                <md-input-container>
                    <input mdInput placeholder="Cohort" value="">
                </md-input-container>
            </td>
            <td data-title="WPT/HBE">
                <md-input-container>
                    <input mdInput placeholder="WPT/HBE" value="">
                </md-input-container>
            </td>
            <td data-title="Datum aanvraag PVB">
                <md-input-container>
                    <input mdInput placeholder="Datum PVB" value="">
                </md-input-container>
            </td>
            <td data-title="Akkoord PVB">
                <md-select placeholder="Akkoord PVB">
                    <md-option *ngFor="let p of pvb" [value]="pvb.value">
                        {{ p.viewValue }}
                    </md-option>
                </md-select>
            </td>
            <td data-title="PVB">
                <md-input-container>
                    <input mdInput placeholder="PVB" value="">
                </md-input-container>
            </td>
            <td data-title="Datum OG">
                <md-input-container>
                    <input mdInput placeholder="Datum OG" value="">
                </md-input-container>
            </td>
            <td data-title="OG">
                <md-select placeholder="Ontwikkelgesprek">
                    <md-option *ngFor="let o of og" [value]="og.value">
                        {{ o.viewValue }}
                    </md-option>
                </md-select>
            </td>
        </tr>
    </tbody>
</table>