@import '../../../styles.scss';

.wrapper {
    background-color: $color-primary;
    height: 100vh;
    width: 100vw;
}

.login-form {
    position: absolute;
    background-color: $color-light;
    width: 35vw;
    height: 25vh;
    box-shadow: $shadow-menu;
}

.standard-padding {
    padding-bottom: 2rem;
}

.input {
    margin-top: 1.5rem;
}

.error-message {
  color: $text-color-error;
  font-size: 1rem;
  font-weight: 800;
}
