<h1 md-dialog-title>Voeg een opmerking toe</h1>
<div md-dialog-content>Selecteer een onderdeel waarbij je een opmerking toe wilt voegen.</div>
<div md-dialog-actions>

    <div fxLayout="column" class="add-remark">

        <div fxLayout="column">
            <!--<md-select [(ngModel)]="selectedValue">
                <md-option *ngFor="let co of cohort" [value]="cohort.value">
                    {{ co.viewValue }}
                </md-option>
            </md-select>-->
        </div>

        <div fxLayout="column" fxFlexOffset="10" class="inputs">
            <div>
                <md-input-container class="input">
                    <input mdInput placeholder="Voornaam" value="">
                </md-input-container>
            </div>
            <div>
                <md-input-container class="input">
                    <input mdInput placeholder="Achternaam" value="">
                </md-input-container>
            </div>
            <div>
                <md-input-container class="input">
                    <input mdInput placeholder="Studentnummer" value="">
                </md-input-container>
            </div>
            <div>
                <md-input-container class="input">
                    <input mdInput placeholder="Opleiding" value="">
                </md-input-container>
            </div>
            <div>
                <md-input-container class="input">
                    <input mdInput placeholder="Crebo" value="">
                </md-input-container>
            </div>
            <div>
                <md-input-container class="input">
                    <input mdInput placeholder="Cohort" value="">
                </md-input-container>
            </div>

        </div>
    </div>
</div>