<h1 md-dialog-title>Voeg een kandidaat toe</h1>
<div md-dialog-content></div>
<div md-dialog-actions>

  <div fxLayout="row" class="add-candidate">
    <div fxLayout="column">
      <div class="credential">Voornaam</div>
      <div class="credential">Achternaam</div>
      <div class="credential">Studentnummer</div>
      <div class="credential">Opleiding</div>
      <div class="credential">Crebo</div>
      <div class="credential">Cohort</div>
    </div>

    <div fxLayout="column">
      <div class="credential">:</div>
      <div class="credential">:</div>
      <div class="credential">:</div>
      <div class="credential">:</div>
      <div class="credential">:</div>
      <div class="credential">:</div>
    </div>

    <div fxLayout="column" fxFlexOffset="5" class="inputs">
      <div>
        <md-input-container class="input">
          <input #firstname mdInput placeholder="Voornaam" value="" (blur)="onFirstnameChanged(firstname.value)">
        </md-input-container>
      </div>
      <div>
        <md-input-container class="input">
          <input #lastname mdInput placeholder="Achternaam" value="" (blur)="onLastnameChanged(lastname.value)">
        </md-input-container>
      </div>
      <div>
        <md-input-container class="input">
          <input #studentnumber mdInput placeholder="Studentnummer" value="" (blur)="onStudentnumberChanged(studentnumber.value)">
        </md-input-container>
      </div>
      <div>
        <md-input-container class="input">
          <input #education mdInput placeholder="Opleiding" value="{{ educationValue }}" (blur)="onEducationChanged(education.value)">
        </md-input-container>
      </div>
      <div>
        <md-input-container class="input">
          <input #crebo mdInput placeholder="Crebo" value="{{ creboValue }}" (blur)="onCreboChanged(crebo.value)">
        </md-input-container>
      </div>
      <div>
        <md-select [(ngModel)]="selectedCohort" (change)="onCohortChanged(selectedCohort)" name="cohort">
          <md-option *ngFor="let cohort of cohorts" [value]="cohort.value">
            {{ cohort.viewValue }}
          </md-option>
        </md-select>
        <!--<md-input-container class="input">
          <input mdInput placeholder="Cohort" value="">
        </md-input-container>-->
      </div>
    </div>

  </div>
</div>
<div fxLayout="row" fxLayoutAlign="end center">
  <button md-button (click)="dialogRef.close()">Annuleren</button>
  <button md-raised-button color="primary" (click)="addExamCandidate(); dialogRef.close(true)">Opslaan</button>
</div>
