<table id="table" class="table table-hover table-responsive-vertical">
  <thead>
    <tr>
      <th class="padding-left">Naam</th>
      <th class="padding-left">Studentnummer</th>
      <th class="padding-left">Opleiding</th>
      <th class="padding-left">Crebo</th>
      <th class="padding-left">Cohort</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let line of graduates" class="graduate">
      <ng-container *ngIf="line.candidate_status === 'graduated'">
        <td data-title="Naam" class="padding-left">{{ line.firstname }} {{ line.lastname }}</td>
        <td data-title="Studentnummer" class="padding-left">{{ line.studentnumber }}</td>
        <td data-title="Opleiding" class="padding-left">{{ line.education }}</td>
        <td data-title="Crebo" class="padding-left">{{ line.crebo }}</td>
        <td data-title="Cohort" class="padding-left">{{ line.cohort }}</td>
      </ng-container>
    </tr>
  </tbody>
</table>
