<h1 md-dialog-title>Opmerkingen per onderdeel voor Michael Kruit</h1>
<div md-dialog-content>
    <div fxLayout="row">
        <div fxLayout="column">
            <div class="exam-components">
                <div fxLayoutAlign="start center" class="component-title standard-padding">
                    <h3 fxFlexOffset="2">WPT/HBE</h3>
                </div>
                <div class="remark standard-padding">
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <div class="standard-padding">
                            <b>Datum:</b> 03-05-2017
                        </div>
                        <div>
                            <md-icon class="clickable">delete</md-icon>
                        </div>

                    </div>
                    <div class="standard-padding">
                        <b>Opmerkinggever:</b> Jan Zuur
                    </div>
                    <div class="standard-padding">
                        <b>Opmerking:</b> HBE 1 onvoldoende, herkansing aangevraagd.
                    </div>
                </div>

                <div class="standard-padding">
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <div class="standard-padding">
                            <b>Datum:</b> 05-05-2017
                        </div>
                        <div>
                            <md-icon class="clickable">delete</md-icon>
                        </div>

                    </div>
                    <div class="standard-padding">
                        <b>Opmerkinggever:</b> Jan Zuur
                    </div>
                    <div class="standard-padding">
                        <b>Opmerking:</b> HBE 1 voldoende op voorbehoud.
                    </div>
                </div>
            </div>
            <div class="exam-components">
                <div fxLayoutAlign="start center" class="component-title standard-padding">
                    <h3 fxFlexOffset="2">PVB</h3>
                </div>
                <div class="standard-padding">
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <div class="standard-padding">
                            <b>Datum:</b> 15-05-2017
                        </div>
                        <div>
                            <md-icon class="clickable">delete</md-icon>
                        </div>

                    </div>
                    <div class="standard-padding">
                        <b>Opmerkinggever:</b> Jan Zuur
                    </div>
                    <div class="standard-padding">
                        <b>Opmerking:</b> PVB 4 nog niet ingeleverd.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div md-dialog-actions>
</div>
<div fxLayout="row" fxLayoutAlign="end center">
    <button md-button>Annuleren</button>
    <button md-raised-button color="primary">Opslaan</button>
</div>